<div class="toolbar" role="banner">
    <img width="200" alt="Buhler Logo" src="assets/images/Logo_Bühler_AG.svg.png" />
    <div class="spacer"></div>
    <div class="time d-flex align-items-center margin-right">
        <span class="material-icons-outlined">
            watch_later
        </span>
      <span>{{currentDate | date:'dd.MM.yyyy HH:mm'}}</span>
    </div>
    <div class="user-profile d-flex align-items-center margin-right">
      <span class="material-icons-outlined">
        account_circle
      </span>
      <span>{{userName}}</span>
    </div>
  
  </div>