.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    font-weight: 500;
    border-bottom: 4px solid #00aa9d;
}

.toolbar img {
    margin: 0 16px;
}

.time span {
    padding: 4px;
}
.user-profile span {
    padding: 4px;
}