/* Styling for the machine */
.machine-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.machine-item{
    text-align: center;
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}
