// You can add global styles to this file, and also import other style files
// Reset default margin and padding
@import 'assets/style/variable.scss';

* {
    margin: 0;
    padding: 0;
}

// Define reusable classes and mixins
.spacer {
    flex: 1;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.margin-right {
    margin-right: 20px;
}

// Define machine state colors using SCSS variables


.running {
    background-color: $color-gray;
}

.alarm {
    background-color: $color-red;
    color: $color-white // White text color for contrast
}

.warning {
    background-color: $color-orange;
    color: $color-white; // White text color for contrast
}

.state-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}
