.container {
    height: calc(100vh - 115px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.production-line {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Styling for the lines between circles */
.line {
    width: 100px;
    height: 3px;
    border-radius: 4px;
    background-color:green;
    transition: background 0.5s linear;
  }
  